.sapMTabStrip {
	background : #3f5161;
	box-shadow : inherit;
	margin-bottom : 25px;
}

.scroll {
	background : #3f5161;
}

.sapMTabStrip .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem .sapMTSItemCloseBtnCnt {
	display : inherit;
}

.sapMTabStrip .sapMTSTabsContainer .sapMTSTabs .sapMTabStripItem .sapMTabStripItemLabel {
	color : white;
}

.sapMTabStrip .sapMTSRightOverflowButtons .sapMBtn.sapMBtnBase {
	background : #3f5161; 
}

.sapMTabStrip .sapMTSLeftOverflowButtons .sapMBtn.sapMBtnBase {
	background : #3f5161; 
}

html.sap-desktop .sapMSlt.sapMTSSlt, html.sap-tablet .sapMSlt.sapMTSSlt {
	display : none;
}

.sapMTabStrip .sapMTSTabsContainer {
	width : 140px;
}

.jtk-drag-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;    
}

#outputStateDialog-scrollCont {
	padding:0rem;
}

.sapUiLoSplitterNoResize {
	width : 0 !important;
	height : 0 !important;
}

.navList {
	height:500px;
	width:200px;
	border-style:solid;
	border-width:2px;
	border-color:#3f5161;
	border-top-style:none;
	border-left-style:none;
	border-bottom-style:none;
}

[class*='close-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 8px;
}

.close-thik:after {
  content: '✖';
}

.close-thik:hover {
    box-shadow: 0px 0px 15px #BB0000;
    border-radius : 50%;
}

[class*='close2-'] {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  right: 4px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 4px;
}

.close2-thik:after {
  content: '✖';
}

.close2-thik:hover {
    box-shadow: 0px 0px 15px #BB0000;
    border-radius : 50%;
}

.centerButton {
	left: 50%;
  	transform: translateX(-50%);
  	margin-top: 10px;
}

/* Transition */
.transition {
	height:62.5px;
    width: 75px;
    float: left;
    position: absolute;
    background-color: #5E696E;
    border-radius : 15px 15px 15px 15px;
}

.buttonPressTransition {
	
}

.centerToolboxTransition {
	left: 50%;
	margin-left: -37.5px;
}

.centerTransitionText {
	text-align:center;
 	display: block;
  	position: relative;
	top: 50%;
  	transform: translateY(-50%);
 	color:#FFFFFF;
}

/* State */
.stateBorderShadow:hover {
    box-shadow: 0px 0px 50px #427CAC;
    border-radius : 15px;
}

.state {
	height:125px;
    width: 150px;
    float: left;
    position: absolute;
}

.centerToolboxState {
	left: 50%;
	margin-left: -75px;
}

.centerStateText {
	text-align:center;
  	display: block;
  	position: relative;
	top: 50%;
  	transform: translateY(-50%);
  	color:#3F5161;
}

/* Start State */
.startStateTopColor {
	height : 100px;
	width : 150px;
	background-color: #D3D7D9;
	border-radius : 15px 15px 0px 0px;
}

.startStateBottomColor {
	height : 25px;
	width : 150px;
	background-color: #ABE2AB;
	border-radius : 0px 0px 15px 15px;
}

/* Output State ToolBox */
.toolboxOutputStateTopColor {
	height : 100px;
	width : 150px;
	background-color: #D3D7D9;
	border-radius : 15px 15px 0px 0px;
}

.toolboxOutputStateBottomColor {
	height : 25px;
	width : 150px;
	background-color: #678BC7;
	border-radius : 0px 0px 15px 15px;
}

/* Button Press State ToolBox */
.toolboxButtonPressStateTopColor {
	height : 100px;
	width : 150px;
	background-color: #D3D7D9;
	border-radius : 15px 15px 0px 0px;
}

.toolboxButtonPressStateBottomColor {
	height : 25px;
	width : 150px;
	background-color: #0092D1;
	border-radius : 0px 0px 15px 15px;
}

.test {
	height : 100px;
	width : 100px;
	outline-style: solid;
	display : inline;
}

.test2 {
	display:inline-block;
	float:left;
	height:100px;
	width:500px;
	outline-style: solid;
}

.sequenceButton2 {
	float: left;
    width: 100px;
    margin: 5px;
    padding: 5px;
    height: 100px;
}

.sequenceButton {
	display : inline-block !important;
	float: left;
    width: 100px;
    margin: 5px;
    padding: 5px;
    height: 100px;
}

.sequenceButtonRed {
	background: red;
}

.sequenceButtonGreen {
	background: green;
}

.sequenceButtonBlue {
	background: blue;
}

.sequenceButtonBlack {
	background: black;
}
